---
const year = new Date().getFullYear();
---

<!--begin::Footer-->
<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Power by Avaluauto</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <strong>
    Copyright &copy; {year}&nbsp;
    <a href="https://motocash.co" class="text-success text-decoration-none">Motocash</a>.
  </strong>
  Todos los derechos.
  <!--end::Copyright-->
</footer>
<!--end::Footer-->
